@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
        <title>Editing Template | @ViewData["SiteName"]</title>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.6/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.6/dist/semantic.min.js"></script>
        <script src="/Content/monaco-editor/min/vs/loader.js"></script>
        <style>
            body {
                margin: 14px;
                /*margin-right: 14px;*/
            }
            .ui.modal > .content {
                display: flex;
                flex-direction: column;
            }
            .ui.modal > .content > div:last-child {
                flex: 1;
            }
        </style>
        <script>
            function decodeHtml(html) {
                var txt = document.createElement("textarea");
                txt.innerHTML = html;
                return txt.value;
            }
            var saveAsDraft = "";
            function setSaveAsDraft(value) {
                saveAsDraft = value;
            }
            $(document).ready(function() {
                //if(!@ViewData["ShowUndraftButton"]) {
                //    $("#undraftButton").hide();
                //}
                $('.popuptrigger').popup({
                    on: 'click'
                });
            });
        </script>
    </head>
    <body>
        <script>
            require.config({ paths: { 'vs': '/Content/monaco-editor/min/vs' }});
            var editor;
            var editor2;
            var editor3;
            var editor4;
            var e4v = decodeHtml("@ViewData["HeadEdit"]");
            require(['vs/editor/editor.main'], function() {
                editor = monaco.editor.create(document.getElementById('monacoContainerHtml'), {
                    value: decodeHtml("@ViewData["HtmlEdit"]"),
                    language: 'html'
                });
            });
            require(['vs/editor/editor.main'], function() {
                editor2 = monaco.editor.create(document.getElementById('monacoContainerCss'), {
                    value: decodeHtml("@ViewData["CssEdit"]"),
                    language: 'css'
                });
            });
            require(['vs/editor/editor.main'], function() {
                editor3 = monaco.editor.create(document.getElementById('monacoContainerJs'), {
                    value: decodeHtml("@ViewData["JsEdit"]"),
                    language: 'javascript'
                });
            });
            function e4open() {
                $('.ui.modal').modal('setting', {
                    onHide: () => e4close(),
                }).modal('show');
                require(['vs/editor/editor.main'], function() {
                    editor4 = monaco.editor.create(document.getElementById('monacoContainerHead'), {
                        value: e4v,
                        language: 'html'
                    })
                });
            }
            function e4close() {
                e4v = editor4.getValue();
                editor4.dispose();
            }
            $(document).ready(function() {
                $('#editTemplateForm').submit(function(event) {
                    $('#HtmlEdit').val(editor.getValue());
                    $('#CssEdit').val(editor2.getValue());
                    $('#JsEdit').val(editor3.getValue());
                    $('#HeadEdit').val(e4v);
                    $('.ui.modal').modal('setting', {
                        onHide: () => e4close(),
                    });
                    //alert($('#saveAsDraft').val());
                    return true; // return false to cancel form action
                });
                $('.dropdown').dropdown();
            });
        </script>
        <partial name="_Navbar" />
        <div id="customContent">
            <form id="deleteTemplateForm" action="/Page/DeleteTemplateForm" method="post"><input type="hidden" name="templateId" value="@ViewData["TemplateId"]"></form>
            <form id="editTemplateForm" action="/Page/EditTemplateForm" method="post">
                <div class="ui header">Editing Template<span style="float: right"><a href="#">Syntax guide</a></span></div>
                <button type="submit" id="saveButton" class="ui button">Save template</button>
                <div id="saveButton" class="popuptrigger red ui button">Delete template</div>
                <div class="ui popup">
                    <div class="header">Are you sure?</div>
                    <div class="content" style="padding-bottom: 7px !important;">This cannot be undone.</div>
                    <button type="submit" form="deleteTemplateForm" class="tiny red ui button">Yes</button>
                </div>
                <div style="float: right" onclick="e4open()" class="ui button">Edit <code>head</code> code</div>
                <input type="hidden" name="HtmlEdit" id="HtmlEdit">
                <input type="hidden" name="CssEdit" id="CssEdit">
                <input type="hidden" name="JsEdit" id="JsEdit">
                <input type="hidden" name="HeadEdit" id="HeadEdit">
                <input type="hidden" name="saveAsDraft" id="saveAsDraft">
                <input type="hidden" name="templateId" value="@ViewData["TemplateId"]">
            </form>
            <br>
            <div class="ui form">
                <div class="field">
                    <label>Template name</label>
                    <input type="text" name="templateName" id="templateName" form="editTemplateForm" value="@ViewData["TemplateName"]">
                </div>
                <div class="ui field">
                    <label>Template description</label>
                    <textarea name="templateDesc" form="editTemplateForm">@ViewData["TemplateDesc"]</textarea>
                </div>
            </div>
            <br>
            <div class="ui grid">
                <div class="sixteen wide column">
                    <div class="ui segment">
                        <div class="ui small header">HTML</div>
                        <div id="monacoContainerHtml" style="height:600px;"></div>
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="ui segment">
                        <div class="ui small header">CSS</div>
                        <div id="monacoContainerCss" style="height:600px;"></div>
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="ui segment">
                        <div class="ui small header">JS</div>
                        <div id="monacoContainerJs" style="height:600px;"></div>
                    </div>
                </div>
            </div>            
        </div>
        <div class="ui divider"></div>
        <span id="version" class="ui small grey text">Powered by @ViewData["SoftwareName"] @ViewData["VersionNumber"]</span>
        <div class="ui modal">
            <div class="header">
                Edit <code>head</code> code
            </div>
            <div class="content" style="height:50vh">
                <div id="monacoContainerHead"></div>
            </div>
            <div class="actions">
                <div class="ui approve button">Close</div>
            </div>
        </div>
    </body>
</html>