@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Manage Files | @ViewData["SiteName"]</title>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.6/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.6/dist/semantic.min.js"></script>
        <!-- DataTables -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf8" src="~/lib/dataTables.semanticui.js"></script>
        <style>
            body {
                margin: 14px;
                /*margin-right: 14px;*/
            }
            .ui.file.input {
                display: none;
            }
            #filesTable {
                border: 1px solid rgba(34,36,38,.15);
            }
        </style>
        <script>
            function decodeHtml(html) {
                var txt = document.createElement("textarea");
                txt.innerHTML = html;
                return txt.value;
            }
            function tableRedrawn() {
                $('.popuptrigger').popup({
                    on: 'click'
                });
            }
            $( document ).ready(function() {
                $('.dropdown').dropdown();
                $('#filesTable')
                .on('draw.dt', function() {tableRedrawn();})
                .DataTable();
            });
        </script>
    </head>
    <body>
        <partial name="_Navbar" />
        <div id="customContent">
            <div class="ui header">
                Manage Files
            </div>
            @if((bool)ViewData["GarbageShow"]) {
            <div class="ui message">
                <div class="header">
                    File moved to garbage
                </div>
                <p>Your file has been moved to /Content/garbage/, to fully delete it go to your control panel and click "Empty garbage."</p>
            </div>
            }
            <form id="uploadFileForm" action="/Page/UploadFile" method="post" enctype="multipart/form-data">
                <label for="postedFiles" class="ui labeled icon button">
                    <i class="file icon"></i>
                    Upload files
                </label>
                <input type="file" multiple id="postedFiles" name="postedFiles" class="ui file input" onchange="form.submit()">
            </form>
            <br/>
            <table class="ui celled table" id="filesTable">
                <thead><tr>
                        <th>Path</th>
                        <th class="collapsing">Actions</th>
                </tr></thead>
                <tbody>
                    @{
                    wwFileAccess.wwFileAccess fa = new wwFileAccess.wwFileAccess();
                    string[] allFiles = fa.GetAllFiles();
                    }
                    @foreach (string oneFile in allFiles)
                    {
                    <tr>
                        <td>@oneFile</td>
                        <td style="display:flex;">
                            <div class="popuptrigger ui animated yellow icon button">
                                <div class="visible content">
                                    <i class="angle right icon"></i>
                                </div>
                                <div class="hidden content">
                                    Rename
                                </div>
                            </div>
                            <form class="ui popup" action="/Page/MoveFile" method="post">
                                <div class="ui action input">
                                    <input type="hidden" name="oldFileName" value="@oneFile">
                                    <input type="text" name="newFileName" placeholder="New filename">
                                    <button type="submit" class="ui button">Rename</button>
                                </div>
                            </form>
                            <a class="ui blue icon button" href="@oneFile"><i class="download icon"></i></a>
                            <a class="ui red icon button" onclick="$('#filePath').val('@oneFile'); $('#deleteFileSubmit').click()"><i class="trash icon"></i></a>
                        </td>
                    </tr> 
                    }
                </tbody>
            </table>
        </div>
        <div class="ui divider"></div>
        <span id="version" class="ui small grey text">Powered by @ViewData["SoftwareName"] @ViewData["VersionNumber"]</span>
        <form id="deleteFile" action="/Page/GarbageFile" method="post">
            <input type="hidden" name="filePath" id="filePath">
            <button type="submit" style="display:none" id="deleteFileSubmit"></button>
        </form>
    </body>
</html>




