@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Manage Files | @ViewData["SiteName"]</title>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.6/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.6/dist/semantic.min.js"></script>
        <style>
            body {
                margin: 14px;
                /*margin-right: 14px;*/
            }
            .ui.file.input {
                display: none;
            }
        </style>
        <script>
            function decodeHtml(html) {
                var txt = document.createElement("textarea");
                txt.innerHTML = html;
                return txt.value;
            }
            $( document ).ready(function() {
                $('.dropdown').dropdown();
                $('.popuptrigger').popup({
                    on: 'click'
                });
            });
        </script>
    </head>
    <body>
        <!--
        <div class="ui inverted menu">
            <a href="/" class="item">
                Home
            </a>
            <form class="right item" id="navigateForm" action="/Page/NavigateForm" method="post">
                <div class="ui inverted transparent input">
                    <input type="text" name="pageName" placeholder="Navigate to...">
                </div>
                <button type="submit" class="ui black button">Go</button>
            </form>
            <div class="ui inverted dropdown icon item">
                <i class="wrench icon"></i>
                <div class="menu">
                    <a class="item" href="/ViewPage/Special|List of pages">
                        Special|List of pages
                    </a>
                    <a class="item" href="/NewPage">
                        New Page
                    </a>
                    <a class="item" href="/ManageTemplates">
                        Manage Templates
                    </a>
                    <a class="item" href="/ManageFiles">
                        Manage Files
                    </a>
                    <a class="item" href="/Admin/ControlPanel">
                        Control Panel
                    </a>
                    <a class="item" href="/Docs/About">
                        About @ViewData["SoftwareName"]
                    </a>
                    <a class="item" href="/Docs/Syntax">
                        Syntax Guide
                    </a>
                </div>
            </div>
        </div>-->
        <partial name="_Navbar" />
        <div id="customContent">
            <div class="ui header">
                Manage Files
            </div>
            @if((bool)ViewData["GarbageShow"]) {
            <div class="ui message">
                <div class="header">
                    File moved to garbage
                </div>
                <p>Your file has been moved to /Content/garbage/, to fully delete it go to your control panel and click "Empty garbage." To restore your file, click "Restore garbage".</p>
            </div>
            }
            <table class="ui celled table">
                <thead><tr>
                        <th>Path</th>
                        <th>Actions</th>
                </tr></thead>
                <tbody>
                    @{
                    wwFileAccess.wwFileAccess fa = new wwFileAccess.wwFileAccess();
                    string[] allFiles = fa.GetAllFiles();
                    }
                    @foreach (string oneFile in allFiles)
                    {
                    <tr>
                        <td>@oneFile</td>
                        <td>
                            <div class="popuptrigger ui animated yellow icon button">
                                <div class="visible content">
                                    <i class="angle right icon"></i>
                                </div>
                                <div class="hidden content">
                                    Rename
                                </div>
                            </div>
                            <form class="ui popup" action="/Page/MoveFile" method="post">
                                <div class="ui action input">
                                    <input type="hidden" name="oldFileName" value="@oneFile">
                                    <input type="text" name="newFileName" placeholder="New filename">
                                    <button type="submit" class="ui button">Rename</button>
                                </div>
                            </form>
                            <a class="ui blue icon button" href="@oneFile"><i class="download icon"></i></a>
                            <a class="ui red icon button" onclick="$('#filePath').val('@oneFile'); $('#deleteFileSubmit').click()"><i class="trash icon"></i></a>
                        </td>
                    </tr> 
                    }
                </tbody>
            </table>
            <form id="uploadFileForm" action="/Page/UploadFile" method="post" enctype="multipart/form-data">
                <label for="postedFile" class="ui labeled icon button">
                    <i class="file icon"></i>
                    Upload a file
                </label>
                <input type="file" id="postedFile" name="postedFile" class="ui file input" onchange="form.submit()">
            </form>
        </div>
        <div class="ui divider"></div>
        <span id="version" class="ui small grey text">Powered by @ViewData["SoftwareName"] @ViewData["VersionNumber"]</span>
        <form id="deleteFile" action="/Page/GarbageFile" method="post">
            <input type="hidden" name="filePath" id="filePath">
            <button type="submit" style="display:none" id="deleteFileSubmit"></button>
        </form>
    </body>
</html>




